* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero {
background: url(../assets/images/angel.jpg)no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 6rem;
    font-weight: lighter;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    flex-wrap: wrap;
}

.section .text {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.section .text h2 {
    font-size: 2v.8rem;
    margin-bottom: 20px;
}

.section .text span {
    color: #f1214e;
    font-weight: bold;
}

.section .text p {
    margin-bottom: 20px;
}

.section .image {
    flex: 1;
    min-width: 300px;
}

.section .image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-3 {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    padding: 60px 10%;
    flex-wrap: wrap;
    background: url(../assets/images/raptis.png)no-repeat center/cover;
    color: white;
}

.section-3 .image {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.section-3 .image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.section-3 .text {
    flex: 1;
    min-width: 300px;
}

.section-3 .text h2 {
    font-size: 3.3rem;
    margin-bottom: 20px;
}

.section-3 .text span {
    color: #ffffff;
    font-weight: bold;
}

.section-3 .text p {
    margin-bottom: 20px;
}

.section-3 button {
    background: #f1214e;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 20px;
}

.section-3 button:hover {
    background: #f1214e;
}


button {
    background: #f1214e;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #f1214e;
}


.footer {
    background: linear-gradient(to right, #e92939, #d31e6a);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border-bottom: #36363649 2px solid;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right:10%;
}

.footer-content-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right:10%;
}

